.body {
    background-image: url(/public/images/fotogrande.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    height: 800px;
}

.nav1 {
    background-color: black;
    height: 40px;
}

.navbar-expand-lg {
    height: 600px;
}

.container-fluid {
    display: flex;
    margin-top: -500px;
    flex-direction: row-reverse;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}



@media (min-width: 768px) and (max-width:1023px) {
    .body {
        background-image: url(/public/images/fotograndealtura.webp);
    }

    .li {
        display: none;
    }

}

@media (max-width:768px) {
    .body {
        background-image: url(/public/images/fotograndealtura.webp);

        /* background-size: 100%; */
    }


}