.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.img {
    width: 50%;
    flex-wrap: wrap;
}

.img:hover {
    box-shadow: -3px 3px 67px 26px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width:720px) {
    .img {
        width: 100%;
    }


}