.gift img {
    width: 350px;
    margin-left: 900px;
    margin-top: 20px;
}

.gift img:hover {
    cursor: pointer;
}

h1 {
    margin-left: 900px;
    margin-top: 20px;
}

h2 {
    margin-left: 900px;
    margin-top: 20px;
    font-weight: 100;
}

h5 {
    margin-left: 1020px;
    margin-top: 25px;
    font-weight: 200;
    text-decoration: underline;
}

h5:hover {
    cursor: pointer;
    color: grey;
}

@media (min-width: 720px) and (max-width:1123px) {
    .gift img {
        width: 380px;
        margin-left: 360px;
        margin-top: 8px;
    }

    h1 {
        padding-top: 20px;
        margin-top: 20px;
        margin-left: 400px;
        font-weight: 100;
    }

    h2 {
        margin-top: 0px;
        margin-left: 380px;
    }

    h5 {
        margin-top: 20px;
        margin-left: 500px;
    }
}

@media (max-width:720px) {
    .gift img {
        width: 230px;
        margin-left: 120px;
        margin-top: 3px;
    }

    h1 {
        padding-top: 20px;
        margin-top: 20px;
        margin-left: 120px;
        font-weight: 100;
    }

    h2 {
        margin-top: 0px;
        margin-left: 120px;
    }

    h5 {
        margin-top: 8px;
        margin-left: 200px;
    }
}